$tabIndent: 20px;

.welcome {
  padding: 20px;
  height: calc(100vh - 2 * 38px);
  width: 100%;
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  background-color: $black;
  min-height: 800px;

  #index, #portfolio, #imprint {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  #index, #portfolio {
    position: absolute;
    top: 20px;
    left: 20px;
    counter-reset: section;
    padding-left: 35px;

    .code {
      font-family: 'Roboto Mono', monospace;

      .tab2 {
        margin-left: $tabIndent;
      }

      .tab4 {
        margin-left: $tabIndent * 2;
      }
    }

    .lineNumber {
      color: $orange;

      &:before {
        position: absolute;
        right: 20px;
        counter-increment: section;
        content: counter(section);
      }
    }
  }

  #index {
    .code {
      font-size: 22px;
      .tag, .doctype {
        color: $pink;

        &.doctype, &:before, &:after {
          color: white;
        }

        &:before {
          content: '<';
        }

        &:after {
          content: '>';
        }

        &.close:before {
          content: '</';
        }
      }
    }
  }

  #portfolio {
    .code {
      font-size: 19px;
      .selector {
        color: $green;

        &:before {
          content: '#';
        }

        &:after {
          content: ' {';
          color: white;
        }
      }

      .rule {
        color: $blue;
        font-style: italic;

        &:after {
          content: ': ';
          color: white;
          font-style: normal;
        }

        &.close:after {
          content: '}'
        }
      }

      .ruleVal {
        color: white;

        &:after {
          content: ';';
        }
      }
    }
  }

  #imprint {
    .textspacing {
      margin-bottom: 20px;
    }
  }
}